page-login {}

.login-panel {
  height: 100vh;
  background: url('../assets/login-bg.jpg') no-repeat;
  background-size: cover;
  .scroll-content{
      overflow: hidden;
  }
  .login-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 10px;
    margin-top: -90px;
    .list-ios {
      margin-bottom: 10px;
    }
    .item-ios {
      padding: 0 12px;
      border-bottom: 1px solid #999;
      background: rgba(0, 0, 0, 0.7);
    }
    .label-ios {
      color: #fff;
    }
    .text-input-ios{
        color: #fff;
    }
  }
}
