@import './_var.scss';
.base-reset {
    .ion-page>ion-content {
        background-color: $main-bg;
    }
    .item-block {
        background: none;
    }
    ion-item-sliding {
        background-color: inherit;
    }
    ion-list {
        background-color: #fff;
    }
    [ion-fixed] {
        width: 100vw;
    }
}