// 颜色

/*blue*/

$blue-125:#2e6ce1;
$blue-100:#3c85fd;
$blue-75:#6ba2fd;
$blue-50:#96bdfe;
$blue-25:#dae8ff;
$blue-10:#f0f5ff;

/*black*/

$black-125:#171717;
$black-100:#6e6e6e;
$black-75:#a6a6a6;
$black-50:#e9e9e9;
$black-25:#f7f7f7;
$black-10:#fbfbfb;

/*orange*/

$orange-125:#e7822f;
$orange-100:#ffa63e;
$orange-75:#ffbb6c;
$orange-50:#ffcf97;
$orange-25:#ffeedb;
$orange-10:#fff8f0;

/*red*/

$red-125:#e8584c;
$red-100:#fd7356;
$red-75:#fd947e;
$red-50:#feb49a;
$red-25:#ffe5df;
$red-10:#fff4f2;

/*green*/

$green-125:#429747;
$green-100:#4caf50;
$green-75:#77c27a;
$green-50:#9fd4a1;
$green-25:#ddf0de;
$green-10:#f1f9f1;
//尺寸

/*字体*/

$fz-12:12px;
$fz-14:14px;
$fz-16:16px;
$fz-18:18px;
$fz-20:20px;
$fz-22:22px;
$fz-24:24px;
$fz-26:26px;
$fz-28:28px;

/*圆角*/

$border-radius:4px;