<!-- Generated template for the HotelComponent component -->
<div class="hotel-panel" ion-fixed>
    <img src="assets/hotel-bg.png" alt="" class="hotel-bg">
    <div class="panel-list">
        <div class="hotel-info">
            <div>
                <city-selector [placeholder]="'入住城市'" class="ft14"></city-selector>
                <em class="iconfont icon-forward-o"></em>
            </div>
            <div (click)="openCalendar()">
                <span class="time" *ngIf="!timeStemp.from">入住时间</span>
                <span class="date" *ngIf="timeStemp.from">
                    {{timeStemp.from | date:"MM月dd日"}}<b>入住</b>—{{timeStemp.to | date:"MM月dd日"}}<b>离店</b>
                    <span class="ml10">共{{timeStemp.to - timeStemp.from | date:"d晚"}}</span>
                </span>
                <em class="iconfont icon-forward-o"></em>
            </div>

            <div>
                <span class="time">关键字/位置/酒店名</span>
                <em class="iconfont icon-forward-o"></em>
            </div>

            <div>
                <span class="time">星级价格</span>
                <em class="iconfont icon-forward-o"></em>
            </div>
        </div>
        <traveler-add class="mt10"></traveler-add>
    </div>
    <div class="button orange mt30">
        <span>搜索</span>
    </div>
</div>