<ion-header>
    <ion-navbar>
        <ion-title>{{PRODUCTTYPE[appType]}}</ion-title>
    </ion-navbar>
    <!-- <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="appType">
            <ion-segment-button value="inland">
                国内机票
            </ion-segment-button>
            <ion-segment-button value="interair">
                国际机票
            </ion-segment-button>
            <ion-segment-button value="hotel">
                预订酒店
            </ion-segment-button>
            <ion-segment-button value="train">
                订火车票
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>

<ion-content class="inquire-panel inland">
    <airplane *ngIf="appType == 'inland'"></airplane>
    <interair *ngIf="appType == 'interair'"></interair>
    <hotel *ngIf="appType == 'hotel'"></hotel>
    <train *ngIf="appType == 'train'"></train>
</ion-content>