<ion-header>
    <ion-navbar>
        <ion-title>{{PRODUCTTYPE[appType]}}</ion-title>
    </ion-navbar>
    <!-- <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="appType">
            <ion-segment-button value="inland">
                国内机票
            </ion-segment-button>
            <ion-segment-button value="interair">
                国际机票
            </ion-segment-button>
            <ion-segment-button value="hotel">
                预订酒店
            </ion-segment-button>
            <ion-segment-button value="train">
                订火车票
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>

<ion-content class="inquire-panel">

    <airplane *ngIf="appType == 'inland'"></airplane>
    <interair *ngIf="appType == 'interair'"></interair>
    <hotel *ngIf="appType == 'hotel'"></hotel>
    <train *ngIf="appType == 'train'"></train>
    <ion-fab bottom right>
        <button ion-fab><em class="iconfont icon-menu"></em></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="appType = 'inland'">
                <em class="iconfont icon-plane blue-125"></em>
            </button>
            <button ion-fab (click)="appType = 'interair'">
                <em class="iconfont icon-international-plane- blue-125"></em>
            </button>
            <button ion-fab (click)="appType = 'hotel'">
                <em class="iconfont icon-hotel blue-125"></em>
            </button>
            <button ion-fab (click)="appType = 'train'">
                <em class="iconfont icon-train blue-125"></em>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>