@import './../../../../app/_var.scss';
inquire-domestic {}

@mixin flex-block {
    display: flex;
    line-height: 30px;
    margin: 0 12px;
    align-items: center;
    span {
        flex: 1;
        display: inline-block;
        width: 100%;
        color: $black-25;
        text-align: left;
        &:last-child {
            text-align: right;
        }
    }
}

.domestic-content {
    .domestic-main {
        width: 100%;
    }
    .slide-way {
        display: flex;
        align-items: center;
        background-color: #fff;
        div {
            flex: 1;
            text-align: center;
        }
        span {
            display: inline-block;
            padding: 0 16px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 14px;
            color: $black-25;
            &.active {
                color: $blue-100;
                border-bottom: 2px solid $blue-100;
            }
        }
    }
    .airplane-search-content {
        margin: 12px;
        background-color: #fff;
        border-radius: 6px;
        .city-title {
            display: flex;
            width: 100%;
            padding: 0 12px;
            align-items: center;
            line-height: 30px;
            span {
                flex: 1;
                display: inline-block;
                font-size: 12px;
                color: $black-25;
                text-align: left;
                &:last-child {
                    text-align: right;
                }
            }
        }
        .city-selector {
            display: flex;
            height: 40px;
            align-items: center;
            line-height: 40px;
            margin: 0 12px;
            border-bottom: 1px solid $border-100;
            span {
                flex: 2;
                text-align: left;
                font-size: 1.1em;
                color: $black-25;
                &.bold {
                    color: $black-100;
                }
                &:nth-child(2) {
                    padding: 0;
                    flex: 1;
                    text-align: center;
                    color: $blue-100;
                    i {
                        display: inline-block;
                        font-size: 26px;
                    }
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
        .trip-time-selector {
            display: flex;
            align-items: center;
            margin: 0 12px;
            border-bottom: 1px solid $border-100;
            >div {
                flex: 1;
                &:nth-child(2) {
                    @include tr;
                }
                span,
                b {
                    display: block;
                    font-weight: normal;
                    color: $black-25;
                }
                span {
                    line-height: 30px;
                    font-size: 14px;
                }
                b {
                    line-height: 30px;
                    font-size: 20px;
                    &.bold {
                        color: $black-100;
                    }
                    span {
                        display: inline-block;
                        vertical-align: baseline;
                        font-size: 12px;
                        line-height: 1;
                    }
                }
            }
        }
        .trip-type {
            margin: 0 12px;
            border-bottom: 1px solid $border-100;
            >span {
                @include inlineblock;
                width: 80px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                color: $black-25;
            }
            >div {
                @include inlineblock;
            }
        }
        .add-tripperson {
            @include flex-block();
            padding: 10px 0;
            border-bottom: 1px solid $border-100;
            span:last-child {
                ion-icon {
                    font-size: 20px;
                    color: $blue-100;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }
        .trip-person-list {
            ion-item-sliding {
                padding: 0 12px;
                .item-inner {
                    padding: 0;
                }
            }
        }
        .submit-button {
            padding: 20px 12px;
        }
    }
}