<!-- Generated template for the AirplaneComponent component -->
<div class="airplane-panel">
    <img src="assets/airplane-bg.png" alt="" class="airplane-bg">
    <div class="panel-list">
        <div class="round-trip">
            <span class="active">单程</span>
            <span>往返</span>
        </div>
        <div class="trip-block">
            <div class="city-select">
                <city-selector [placeholder]="'出发城市'" class="ft28"></city-selector>
                <div class="switch">
                    <span class="iconfont icon-switches-plane-a blue-50"></span>
                    <span class="iconfont icon-switches-plane-b blue-125"></span>
                </div>
                <city-selector [placeholder]="'到达城市'" class="tr ft28"></city-selector>
            </div>
            <div class="time-select">
                <div class="black-100">出发日期</div>
                <div class="tr black-100">返程日期</div>
            </div>
        </div>
    </div>
</div>