@import './../../global/styles/_var.scss';
@mixin inblock() {
    flex: 3;
    align-items: center;
    h3,
    h4 {
        margin: 0 0 10px;
    }
    h3 {
        font-size: $fz-14;
    }
    h4 {
        font-size: $fz-14;
    }
}

airplane {}

.airplane-panel {
    .select-city {
        display: flex;
        div {
            @include inblock();
        }
        hr {
            flex: 1;
            align-items: center;
        }
    }
}