page-airplane-list {
    // .ion-page>ion-content {
    //     background-color: #000;
    //     background-image: url('../assets/bg-1.jpg');
    // }
}

.airplane-list-panel {
    background-image: url('../assets/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}