page-home {
    min-height: 100vh;
    .scroll-content {
        overflow: hidden;
    }
}

.main-panel {
    .user-center {
        display: flex;
        height: 40px;
        padding: 0 15px;
        >div {
            flex: 1;
            align-items: center;
            width: 100%;
            line-height: 40px;
            text-align: center;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
            p {
                margin: 0;
            }
            i {
                font-size: 18px;
            }
        }
    }
    .main-slide-panel {
        width: 100%;
        height: 200px;
        img {
            height: 200px;
            object-fit: cover;
        }
    }
    .product-block {
        display: flex;
        >div {
            flex: 1;
            height: 180px;
            text-align: center;
            color: #666;
            p {
                font-size: 16px;
                color: #333;
            }
        }
        .airplane {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            i {
                display: block;
                margin: 24px 0;
                font-size: 80px;
            }
        }
        .other-product {
            font-size: 0;
            text-align: left;
            >div {
                height: 33.333%;
                padding: 0 15px;
                border-bottom: 1px solid #ddd;
            }
            i,
            p {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-right: 10px;
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        color: #666;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .bg-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 120;
        .user-center-control {
            width: 80%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            .user-avatar {
                padding: 15px;
                font-size: 0;
                .avatar,
                .user-info {
                    display: inline-block;
                    vertical-align: middle;
                }
                .avatar {
                    color: #fff;
                    i {
                        font-size: 60px;
                    }
                }
                .user-info {
                    font-size: 20px;
                    color: #eee;
                    margin-left: 20px;
                    span {
                        display: block;
                        height: 20px;
                        line-height: 20px;
                        &:last-child {
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .user-menu-list {
                margin-top: 20px;
                color: #eee;
                span {
                    display: block;
                    padding: 0 15px;
                    line-height: 40px;
                    border-bottom: 1px solid #eee;
                    i {
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .logout {
                width: 90%;
                margin: 60px auto 0;
                font-size: 14px;
                color: #eee;
                text-align: center;
                line-height: 40px;
                border-radius: 6px;
                border: 1px solid #eee;
            }
        }
    }
}