page-home {
    min-height: 100vh;
    .scroll-content {
        overflow: hidden;
    }
}

.main-panel {
    .user-center {
        display: flex;
        height: 40px;
        padding: 0 15px;
        >div {
            flex: 1;
            align-items: center;
            width: 100%;
            line-height: 40px;
            text-align: center;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
            p {
                margin: 0;
            }
            i {
                font-size: 18px;
            }
        }
    }
    .main-slide-panel {
        width: 100%;
        height: 200px;
        img {
            height: 200px;
            object-fit: cover;
        }
    }
    .product-block {
        display: flex;
        >div {
            flex: 1;
            height: 180px;
            text-align: center;
            color: #666;
            p {
                font-size: 16px;
                color: #333;
            }
        }
        .airplane {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            i {
                display: block;
                margin: 24px 0;
                font-size: 80px;
            }
        }
        .other-product {
            font-size: 0;
            text-align: left;
            >div {
                height: 33.333%;
                padding: 0 15px;
                border-bottom: 1px solid #ddd;
            }
            i,
            p {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-right: 10px;
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        color: #666;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}