@import './../../global/styles/_var.scss';
page-home {
    .main-header {
        .toolbar-background-ios {
            background-color: $blue-100;
        }
        .main-message {
            position: relative;
            border-radius: 50px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
            em {
                position: absolute;
                font-style: normal;
                top: 50%;
                margin-top: -14px;
                left: 10px;
            }
            >div {
                padding: 0 20px 0 16px;
            }
        }
    }
    ion-content {
        // background-color: #3cc9fd;
        ion-list {
            margin: 10px 0 !important;
        }
        .inquire-content {
            display: flex;
            align-items: center;
            padding: 35px 0;
            background-color: #3c85fd;
            background-image: url('../assets/main-bg.png');
            background-repeat: no-repeat;
            background-position-y: 105px;
            >div {
                flex: 1;
                text-align: center;
            }
            .iconfont {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                font-size: $fz-28;
                &.airplane {
                    background: -moz-linear-gradient(#ffde3e, #ffb13e);
                    background: -webkit-linear-gradient(#ffde3e, #ffb13e);
                    background: -o-linear-gradient(#ffde3e, #ffb13e);
                    background: linear-gradient(#ffde3e, #ffb13e);
                }
                &.inter {
                    background: -moz-linear-gradient(#3cc4fd, #3c8ffd);
                    background: -webkit-linear-gradient(#3cc4fd, #3c8ffd);
                    background: -o-linear-gradient(#3cc4fd, #3c8ffd);
                    background: linear-gradient(#3cc4fd, #3c8ffd);
                }
                &.hotel {
                    background: -moz-linear-gradient(#febe5e, #fd8057);
                    background: -webkit-linear-gradient(#febe5e, #fd8057);
                    background: -o-linear-gradient(#febe5e, #fd8057);
                    background: linear-gradient(#febe5e, #fd8057);
                }
                &.train {
                    background: -moz-linear-gradient(#45df8c, #4bb85b);
                    background: -webkit-linear-gradient(#45df8c, #4bb85b);
                    background: -o-linear-gradient(#45df8c, #4bb85b);
                    background: linear-gradient(#45df8c, #4bb85b);
                }
            }
            p {
                margin: 0;
                line-height: 30px;
                font-size: 14px;
                color: #fff;
            }
        }
    }
}