page-inquire {}

.inquire-panel {
    .scroll-content {}
}

.inquire-tabs {
    .tab-button-icon {
        font-family: "iconfont" !important;
        font-size: 24px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.ion-ios-international-plane-outline:before,
.ion-ios-international-plane:before {
    content: "\e80f";
}

.ion-ios-plane-o:before,
.ion-ios-plane-o-outline:before {
    content: "\e785";
}

.ion-ios-hotel-o-outline:before,
.ion-ios-hotel-o:before {
    content: "\e770";
}

.ion-ios-train-o-outline:before,
.ion-ios-train-o:before {
    content: "\e78f";
}