<!-- Generated template for the AirplaneComponent component -->
<div class="inter-airplane-panel" ion-fixed>
    <img src="assets/airplane-bg.png" alt="" class="airplane-bg">
    <div class="panel-list">
        <div class="round-trip">
            <span [ngClass]="{'active':!tripRound}" (click)="tripRound = false">单程</span>
            <span [ngClass]="{'active':tripRound}" (click)="tripRound = true;">往返</span>
        </div>
        <div class="trip-block">
            <div class="city-select">
                <city-selector [placeholder]="'出发城市'" class="ft28"></city-selector>
                <div class="switch">
                    <span class="iconfont icon-switches-plane-a blue-50"></span>
                    <span class="iconfont icon-switches-plane-b blue-125"></span>
                </div>
                <city-selector [placeholder]="'到达城市'" class="tr ft28"></city-selector>
            </div>
            <div class="time-select">
                <div (click)="openCalendar('go')">
                    <span class="black-100">出发日期</span>
                </div>
                <div class="tr" (click)="openCalendar('back')" *ngIf="tripRound">
                    <span class="black-100">到达日期</span>
                </div>
            </div>
        </div>
        <traveler-add class="mt10"></traveler-add>
    </div>
    <div class="button orange mt30">
        <span>搜索</span>
    </div>
</div>