<div class="train-panel" ion-fixed>
    <img src="assets/train-bg.png" alt="" class="train-bg">
    <div class="panel-list">
        <div class="train-info">
            <div class="trip-block">
                <div class="city-select">
                    <city-selector [placeholder]="'出发城市'" class="ft18"></city-selector>
                    <div class="switch">
                        <span class="iconfont icon-switches-b-o blue-50"></span>
                    </div>
                    <city-selector [placeholder]="'到达城市'" class="tr ft18"></city-selector>
                </div>
                <div class="time-select">
                    <div (click)="openCalendar('go')">
                        <span class="black-100" *ngIf="!timeStemp">出发日期</span>
                        <span *ngIf="timeStemp">
                            <font class="black-125 ft18">{{timeStemp | date:'MM月dd日'}}</font>
                            <font class="blue-100 ft14">{{timeStemp | date:'EEE' | i18nSelect:weeksCn}}</font>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <traveler-add class="mt10"></traveler-add>
    </div>
    <div class="button orange mt30">
        <span>搜索</span>
    </div>
</div>