@import './../../app/_var';
// 城市选择器
.city-picker {
    display: inline-block;
    width: 100%;
    min-height: 30px;
    &.placeholder {
        font-weight: normal;
        color: $black-25;
    }
}

.city-content {
    display: inline-block;
}

.city-letter-index {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: calc(100vh - 96px);
    span {
        display: block;
        height: calc((100vh - 60px)/25);
        line-height: calc((100vh - 60px)/25);
        text-align: center;
        color: $black-100;
    }
}

.item-divider {
    padding: 0 12px;
    .hot-city {
        margin-right: 6px;
        margin-bottom: 6px;
        padding: 0 15px;
        border-radius: 6px;
        background-color: $blue-50;
        p {
            color: #fff;
        }
    }
}

.city-all-list {
    >div {
        padding: 0 12px;
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid $border-100;
        color: $black-50;
        &.tag {
            background-color: $black-50;
            color: #fff;
        }
    }
}