<ion-header>
    <ion-navbar>
        <ion-title>
            城市选择器
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" animated="true" placeholder="搜索城市" cancelButtonText="取消">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="city-content">
        <div id="hotCity" ng-hide="vm.isFiltering" class="item item-divider">
            <p>热门城市</p>
            <button class="hot-city" *ngFor="let hotcity of hotCityList" (click)="select(hotcity)">
                <p>{{hotcity.cityNameCn||hotcity.name||hotcity.display}}</p>
            </button>
        </div>
        <div class="city-all-list">
            <div *ngFor="let city of cityAllList" [ngClass]="{'tag': city.name}" (click)="select(city)">{{city.name || city.cityNameCn}}</div>
        </div>
    </div>
    <div class="city-letter-index" ion-fixed>
        <span>*</span>
        <span *ngFor="let char of letterIndex">{{char}}</span>
    </div>
</ion-content>